input.ng-touched.ng-invalid {
  border: 1px solid red;
}
.heading {
  text-align: center;
}
small {
  color: blueviolet;
}
.contact_information {
  text-align: center;
}
.submit {
  text-align: center;
}
.d-flex {
  display: flex;
  justify-content: center;
}
