<div class="container">
    <div class="row header">
        <div class="col">
            <h2 class="heading"> <span> Contact Our </span> <br> Customer Suport Center</h2>
        </div>
        <div class="col d-flex">
            <img src="./assets/laptop.jpg" alt="laptop_image" width="25%">
        </div>
    </div>
    <div class="contact_information">
        <h5>Contact Information</h5>
        <h6>Please fill out your contact information below</h6>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="postData();">
        <div class="row">
            <div class="col">
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="fnameFeild">
                <small *ngIf="contactForm.get('fnameFeild')!.hasError('pattern')">Enter
                    only Alphabets. Digits,Special Symbols are not allowed.</small>
            </div>
            <div class="col">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lnameFeild">
                <small *ngIf="contactForm.get('lnameFeild')!.hasError('pattern')">Enter only Alphabets. Digits,Special
                    Symbols are not allowed.</small>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="emailFeild">
            <small *ngIf="contactForm.get('emailFeild')!.hasError('email')">Enter a valid Email Address</small>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" formControlName="phoneFeild">
            <small
                *ngIf="contactForm.get('phoneFeild')!.touched && contactForm.get('phoneFeild')!.hasError('minlength') || contactForm.get('phoneFeild')!.hasError('maxlength')|| contactForm.get('phoneFeild')!.hasError('pattern')">Please,
                Enter 10 digits Mobile Number(Only digits accepted)</small>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" class="form-control" formControlName="cityFeild">
                <small *ngIf="contactForm.get('cityFeild')!.hasError('pattern')">Please, Enter only Alphabets.</small>
            </div>
            <div class="form-group col-md-4">
                <label>State</label>
                <select class="form-control" formControlName="stateFeild">
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Delhi">Gujarat</option>
                    <option value="Goa">Uttar Pradesh</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Zip</label>
                <input type="text" class="form-control" formControlName="zipFeild">
                <small
                    *ngIf="contactForm.get('zipFeild')!.hasError('minlength') || contactForm.get('zipFeild')!.hasError('maxlength') || contactForm.get('zipFeild')!.hasError('pattern')">Zip
                    code should be 5 digits Only.</small>
            </div>
            <div class="form-group col-md-3">
                <label>Comments</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type your comments here..."
                    rows="3" formControlName="commentsFeild"></textarea>
                <small *ngIf="contactForm.get('commentsFeild')!.hasError('minlength')">Your comment should be minimum 30
                    characters</small>
            </div>
        </div>
        <div class="submit mb-4 mt-4">
            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">SUBMIT FORM</button>
        </div>
    </form>
</div>